@tailwind base;
@tailwind components;
@tailwind utilities;

.heroLinear {
  background: linear-gradient(0.5turn, #8963e980, #8352fd1a);
}
.card {
  background: #7a97e140;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
}
.aboutCardLinear {
  background: linear-gradient(to bottom, #007affff, #50a4ffff);
}
.taskManager {
  background: linear-gradient(to bottom, #da5f94, #9356d0);
}
.techniqueTimer {
  background: linear-gradient(50deg, #ff8570, #f9504a);
}
.notes {
  background: linear-gradient(50deg, #4316db, #9076e7);
}
.statistics {
  background: linear-gradient(to bottom, #343563, #4926ad);
}
.reminders {
  background: linear-gradient(to bottom, #2fb8ff, #9eecd9);
}
.features {
  background-image: url(/Waves.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  border: 4px solid #fff;
  height: 35px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
